asn1crypto==0.22.0
cryptography==1.9
dj-database-url==0.5.0
dj-static==0.0.6
Django==1.11.14
django-toolbelt==0.0.1
enum34==1.1.6
gunicorn==19.8.1
idna==2.5
ipaddress==1.0.17
keyring==10.4.0
keyrings.alt==2.2
psycopg2==2.7.5
pycrypto==2.6.1
pygobject==3.24.1
pytz==2018.5
pyxdg==0.25
SecretStorage==2.3.1
six==1.10.0
static3==0.7.0
whitenoise==3.3.1
