<!-- Blog Home Page  --->

<!Doctype html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Patel & Jesalpura</title>
    <!-- included all necessary link for styleseet, fonts, javascript  --->

    {% load static %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/navHighlighterStyle.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:600|Josefin+Slab:300,300i,400,600i,700,700i"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300" rel="stylesheet">

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

    <script type="text/javascript" src="{% static 'js/jquery.waterwheelCarousel.js' %}"></script>

    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>

<!--- End Of Head Tag --->


<body data-spy="scroll" data-target=".navbar" data-offset="50">

<!-- Start of Blog Page --->

<div class="row " id="Blog" style="margin-top:2%">
    <div class="col blog_nav_menu">


    </div>
</div>

<!--- Blog List Container Division --->

<div class=" blog_body_container">

    <fieldset class="career_field_class">
        <legend class="legend_class" style="margin-left: 3%;"><b class="career_class">BLOG HOME</b></legend>

        <!--- Blog List Row Division --->

        <div class="container blog_container_div_class">
            <div class="row blog_card_row_div_class" style="margin-left:2%">

                <!--- Loop For Getting All Blog List --->

                {% for i in blog_list %}

                <div class="col-sm-4 blog_view_card_div_class" style="margin-bottom:3%">
                    <div class="card blog_card_div">

                        <!--- Card View Of Blog --->

                        <div class="card-body">
                            <img class="card-img-top" src="data:image/png;base64,{{i.blogImage}}" alt="Card image cap">
                            <h5 class="card-title" style="margin-top:15px !important"><b>{{i.blogTitle}}</b></h5>
                            <p class="card-text">{{i.blogDescription | safe}}</p>
                            <a id="{{i.blogId}}" onclick="blog_description(this.id);" class="btn readmore_button_class">Read
                                More</a>
                        </div>

                    </div>

                </div>
                {% endfor %}

                <!--- End Of For Loop --->


            </div>
        </div>

    </fieldset>


</div>


<!--- End of Blog List Section --- >




    <!--- Start of Our Footer Page -->


<div class="row footer bg-light">

    <div class="col">
        <h5 class="text-center">Patel&Jesalpura,Chartered Accountant</h5>
    </div>
    <div class="col">
        <h5 class="text-center">Copyright &copy; 2018</h5>
    </div>
    <div class="col">
        <h5 class="text-center">Made by: <a href="http://www.cosaia.com/">Cosaia PVT LTD</a></h5>
    </div>
</div>


<!--- Script FOr Getting Blog Description From Blog Id --->


<script>
     function blog_description(blog_id)
     {
   		 url ="blog_description/"+blog_id;
   		 window.open(url);
	 }



</script>

<!--- Necessary script added --->

<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script type="text/javascript" src="{% static 'js/image-effect.js' %}"></script>

</body>
<!--- Body Tag Closed --->

</html>

<!--- Html Tag Closed --->
