<!-- Website html and javascript code  --->

<!Doctype html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Patel & Jesalpura</title>

        {% load static %}


	    <!-- included all necessary link for styleseet, fonts, javascript  --->

	    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>



		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">



    <link rel="stylesheet" type="text/css" href="{% static 'css/navHighlighterStyle.css' %}">



		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:600|Josefin+Slab:300,300i,400,600i,700,700i" rel="stylesheet">

		<!-- <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:300,300i,400,600i,700,700i" rel="stylesheet"> -->

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300" rel="stylesheet">

		<!-- Link added for stylish corousel for team list --->

		<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

		<script type="text/javascript" src="{% static 'js/jquery.waterwheelCarousel.js' %}"></script>


		<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


		<!-- Script for team slider --->

		    <script src="{% static 'js/jssor.slider-27.1.0.min.js' %}" type="text/javascript"></script>


	<!-- End of this script -->

	</head>


	<body data-spy="scroll" data-target=".navbar" data-offset="50">

	  	<div id="Home" >

			 <img style="width: 92% !important; height: 420px !important; margin: 4% !important;  margin-top: 2% !important;
   "  src="{% static 'images/home_new.jpg' %}" >

	  	</div>

<div class="blog_des_division_class">

	<div class="blog_details_class" >

		<div class="blog_header_details">

			<h3> <b>A Sample Title For Blog </b></h3>
			<h5>Posted At: 20 July 2018</h5>
		</div>

<p><img src="{% static 'images/blog_sample.jpg'   %} " class="blogImage_class" alt="Pineapple" >
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
	interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est,
	ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula,
	facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue.
	Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare
	turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar
	nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.

	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
	interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est,
	ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula,
	facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue.
	Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare
	turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar
	nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.
</p>

		</div>

</div>




    </body>
</html>