<!--- Candidate Details Page --->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Candidate Details</title>
    <!-- Bootstrap core CSS-->
    {% load static %}

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom fonts for this template-->

    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->

    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
    <!-- Custom styles for this template-->

    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:600|Josefin+Slab:300,300i,400,600i,700,700i"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300" rel="stylesheet">

</head>


<body class="fixed-nav sticky-footer bg-dark" id="page-top" style="font-family: 'Josefin Sans' !important;">

<!-- Navigation section-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">

    <a class="navbar-brand" href="redirect_admin/" style="color:white !important"><b>Patel & Jesalpura </b></a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                <a class="nav-link" href="redirect_admin/" style="color:white !important">
                    <!-- <i class="fa fa-fw fa-area-chart"></i> -->
                    <span class="nav-link-text"><b>Career</b></span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="redirect_to_blog/" style="color:white !important">
                    <!-- <i class="fa fa-fw fa-dashboard"></i> -->
                    <span class="nav-link-text">Blog Post</span>
                </a>
            </li>

        </ul>

        <!--- Logout Menu item --->

        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal" style="color:white !important">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>

    </div>
</nav>


<!--- Candidate Details Division --->

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="">Career</a>
            </li>
            <li class="breadcrumb-item active">Candidate</li>
        </ol>

        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <div class="card-body">
                <table class="table table-bordered" id="dataTableName" width="100%" cellspacing="0">

                    <tr>
                        <td align="center"><b>Name:</b> {{content.name}}</td>
                    </tr>

                </table>

                <!--- Table For Displaying Personal Info --->

                <table class="table table-bordered" id="dataTabledetails" width="100%" cellspacing="0">
                    <tr>
                        <td align="center"><b>Email: </b>{{content.email}}</td>
                        <td align="center"><b>Phone:</b> {{content.phone}}</td>
                        <td align="center"><a href="view_resume/{{content.phone}}" target="_blank"
                                              style="color:blue !important">{{content.name}}.pdf</a></td>

                    </tr>

                </table>

                <!--- Why We Hire You Division --->

                <table class="table table-bordered" id="dataTabledmessage" width="100%" cellspacing="0">
                    <tr>
                        <h5>Message:-</h5>
                        <td>
                            <pre>{{content.whywehire_message}}</pre>
                        </td>
                    </tr>
                </table>

            </div>

        </div>
    </div>


    <!--- Footer Division --->

    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center alok_class">
                <small>Copyright © Patel&Jesalpura 2018</small>
            </div>
        </div>
    </footer>


    <!-- Scroll to Top Button-->

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>


    <!-- Logout Modal-->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">

            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="logout">Logout</a>
                </div>

            </div>

        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->

    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>

    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>
    <!-- Custom scripts for all pages-->

    <script src="
      {% static 'js/sb-admin.min.js' %}"></script>

    <!-- Custom scripts for this page-->
    <script src="{% static 'js/sb-admin-datatables.min.js' %}"></script>

</div>
</body>

</html>
